<% provide(:page_title, @project.title) %>

<p id="notice"><%= notice %></p>



<main role="main">

      <div class="jumbotron">
        <div class="container">
          <h2>
            <%= @project.title %>
          </h2>
          <p><strong>Description:</strong>
          <%= @project.description %></p>
          <p><center>
          <% if user_signed_in? %>
              <td><%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-info btn-xs' %></td>
              <td><%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
            <% end %>
          </center></p>
        </div>
      </div>
      </div> <!-- /container -->

    </main>